  /* Навбар  */
body {
  background-color: #ffff;
}

.bg-black {
  background-color: #000;
}

#logo {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.25rem;
}


.btn-logout {
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  border: 0;
  background: none;
}

.modal-body--logout {
  text-align: center;
}

.modal-header--logout {
  border-bottom: none;
}

.modal-footer--logout {
  border-top: none;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
}

.modal-footer--logout .btn {
  min-width: 54px;
}

.modal-dialog--logout {
  width: 350px;
}

.btn-logout:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-brand {
  padding: 1.2rem 1.2rem;
  font-size: 1.2rem;
}

.navbar-nav {
  width: 100%;
}

.nav-item--fake {
  pointer-events: none;
  margin-left: -50px;
  opacity: 0.8;
}

.nav-item {
  padding: 1.25rem 1.25rem; /* Увеличенные отступы */
  font-size: 1.25rem; 
}

.nav-link {
  color: #fff;
  padding-bottom: 0; 
}

.nav-link--active {
  font-weight: bold;
  pointer-events: none;
  cursor: default;
  /* border-bottom: 1px solid #fff; */
}

.v-line {
  background-color: gray;
  width: 0.125rem;
  height: 2.5rem;  
}

.navbar-collapse.collapse.in {
  display: block !important;
}

@media (max-width: 576px) {
  .nav-item {
      width: 100%;
      text-align: left;
  }

  .v-line {
      display: none;
  }
}

#notification-settings {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку */
    justify-content: flex-start; /* Выравнивание элементов в начале контейнера */
}

.form-check {
    flex-basis: 25%; /* Каждый чекбокс будет занимать 25% ширины родителя */
    max-width: 25%; /* Ограничивает максимальную ширину, чтобы избежать перекрытия */
}
.sticky-switch {
    position: sticky;
    top: 0; /* или другое значение, если нужно добавить отступ от верха */
    z-index: 1000; /* чтобы переключатель находился поверх других элементов */
}

.bg-blue {
    background-color: #007bff; /* Стандартный синий цвет Bootstrap */
  }

.sticky-switch h2 {
    font-size: 1.5rem; /* Размер шрифта заголовка */
    color: #333; /* Цвет текста заголовка */
}

.form-check.form-switch {
    margin-left: auto; /* Автоматически отталкивает переключатель к правому краю */
}

h1 {
    text-align: center; /* Центрирование текста */
    margin-top: 20px;   /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
    font-size: 2.5rem;  /* Размер шрифта */
    color: #333;        /* Цвет текста */
  }

/* Стили кнопки включения */
.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;  /* примерно 60px, если базовый размер шрифта 16px */
    height: 2.125rem; /* примерно 34px, если базовый размер шрифта 16px */
    margin-right: 1rem;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 2.125rem; /* радиус скругления, такой же как и высота */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.625rem; /* примерно 26px, если базовый размер шрифта 16px */
    width: 1.625rem;  /* примерно 26px, если базовый размер шрифта 16px */
    left: 0.25rem;     /* примерно 4px, если базовый размер шрифта 16px */
    bottom: 0.25rem;   /* примерно 4px, если базовый размер шрифта 16px */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.375rem); /* примерно 22px, если базовый размер шрифта 16px */
  }
  
  /* Дополнительные стили для текста и отступов */
  .slider.round {
    border-radius: 2.125rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  span.badge {
    font-size: 1.125rem; /* Заменено с 18px */
    padding: 0.3125rem 0.625rem; /* Заменено с 5px 10px */
    margin-right: 0.3125rem; /* Заменено с 5px */
  }

  .top-bar-controll {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 50px;
  }

  .top-bar-controll .switch {
    margin-right: 10px;
  }

  .range-slider {
    width: 100%;
    max-width: 250px;
  }

  range-slider-touch {
    color: #0d6efd;
    --background-opacity: 0.3;
    margin-left: 0;
    margin-right: 0;
  }

  .range-slider_label {
    font-weight: 700;
  }

  .range-slider_value {
    margin-left: 5px;
    color: #0d6efd;
    font-size: 24px;
  }
  
  .switch_text {
    font-weight: 700;
  }

  .form-switch {
    width: 450px;
  }

  .bot-table-tr {
    border-top: none;
    border-bottom: 2px solid #000;
  }
